#box1 {
     height: 100px;
     width: 100px;
     background-color: yellow;
     font-size: 15px;
}
#box2 {
    height: 50%;
    width: 50%;
    background-color: blue;
    margin-left: 50%;
    font-size: 1rem;
}